@font-face {
    font-family: "Pacifico-Regular";
    src: url('../font/Pacifico-Regular.ttf');
}

@font-face {
    font-family: "VarelaRound-Regular";
    src: url('../font/VarelaRound-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    min-width: 98vh;
    font-family: "VarelaRound-Regular";
    background-image: url('../img/wall.jpg');
    color: white;
}

h1, h2 {
    font-size: 22px;
    font-family: "Pacifico-Regular";
    font-weight:normal;
    color: white;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
}

a:visited {
    color: white;
}