<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/infoAlcool.css">
    <title>Cocktail</title>
</head>
<body>
    <header>
        <div class="triangle" onclick="location.href='/cocktail'"></div>
    </header>

    <main>
        <img src="/img/image.jpeg" alt="Alcool">
        <h1> Blue Lagoon </h1>
        <section>
            <div class="difficultyBarSkill">
                <div class="difficultyBar barOn"></div>
                <div class="difficultyBar barOn"></div>
                <div class="difficultyBar barOn"></div>
                <div class="difficultyBar"></div>
                <div class="difficultyBar"></div>
            </div>
        </section>
        <h2>Ingredients</h2>
        <section class="ingredients">
            <ul>
                <li>4 cl de vodka </li>
                <li>3 cl de curaçao bleu</li>
                <li>2 cl de jus de citrons</li>
                <li>Jus d'orange</li>
            </ul>
        </section>
        <section class="preparation">
            <h2>Préparation</h2>
        <p class="textPrepa"> 
            Verser la vodka, le Curaçao et le citron dans un shaker.
            Frappez puis versez en filtrant dans un verre à cocktail rempli de glace pilée.
            Allongez, si vous le souhaitez, de limonade pour réduire de dégré d'alcool.
            Décorez d'un zeste ou d'une rondelle de citron vert. </p>
        </section>
    </main>
</body>
</html>