<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/profile.css">
    <title><%=user.firstname%></title>
</head>
<body>
    <header>
        <div class="triangle" onclick="location.href='/home';"></div>
    </header>
    <main>
        <img src="assets/img/avatar small.jpg">
        <h1>Nikita Denis</h1>
    </main>
    <footer>
        <p><Email></p>
        <p>niky.denis@gmail.com</p>
        <p class="button"><a href="/mailchanger">Changer le mot de passe</a></p>
        <p class="button"><a href="/logout">Se déconnecter</a></p>
    </footer>
</body>
</html>